<a class="ROCOEphemerataLink OLSKCommonTie" href="<%= process.env.ROCO_EPHEMERATA_LINK_URL %>" title="<%= OLSKLocalized('ROCOEphemerataLinkText') %>" target="_blank">
	<img class="ROCOEphemerataLinkImage" src="<%= process.env.ROCO_EPHEMERATA_LINK_ICON_URL %>" width="64" />
</a>
